:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 24px;

  mat-card {
    width: 300px;
    max-width: 100%;

    form {
      display: flex;
      flex-flow: column;

      mat-form-field {
        padding-bottom: 16px;
      }

      > div.mat-error {
        height: 20px;
      }

      button {
        margin-top: 8px;
      }
    }
  }

  .spacer {
    height: 250px;
  }
}
