<mat-card
  [@wobble]="signupError === true"
  (@wobble.start)="setError(false)"
  [@bounceOut]="signupSuccess === true"
  (@bounceOut.done)="onSignupSuccess()"
>
  <mat-card-content>
    <form [formGroup]="signupForm">
      <h2>Sign Up</h2>
      <mat-form-field>
        <input matInput placeholder="Firstname" formControlName="firstname" />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.firstname" name="firstname"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Lastname" formControlName="lastname" />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.lastname" name="lastname"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" required />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.email" name="email"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.username" name="username"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.password" name="password"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Repeat Password" formControlName="password2" required />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.password2" name="password"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <div class="mat-error">
        <chess-lite-form-error [control]="signupForm" name="password"></chess-lite-form-error>
        <div class *ngIf="signupError">Signup rejected, do you have an account already?</div>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="submitSignup()"
        [disabled]="(signupService.canSignup() | async) === false || signupForm.invalid"
      >
        Sign Up
      </button>
    </form>
  </mat-card-content>
</mat-card>
<div class="spacer"></div>
