<form [formGroup]="signupForm">
  <mat-card
    [@wobble]="signupError === true"
    (@wobble.start)="signupErrorAnimation = false"
    [@bounceOut]="signupSuccess === true"
    (@bounceOut.done)="onSignupSuccess()"
  >
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Firstname" formControlName="firstname" />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.firstname" name="firstname"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Lastname" formControlName="lastname" />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.lastname" name="lastname"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" required />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.email" name="email"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.username" name="username"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.password" name="password"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Repeat Password" formControlName="password2" required />
        <mat-error>
          <chess-lite-form-error [control]="signupForm.controls.password2" name="password"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <div class="mat-error">
        <chess-lite-form-error [control]="signupForm" name="password"></chess-lite-form-error>
        <div class *ngIf="signupError">Sign Up rejected.</div>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
        [disabled]="signupForm.invalid || (signupService.isAllowedToSignup() | async) === false"
      >
        Sign Up
      </button>
    </mat-card-actions>
  </mat-card>
</form>
<div class="spacer"></div>
