<mat-accordion class="sidenav-expansion">
  <mat-expansion-panel class="mat-elevation-z0" (opened)="router.navigate(['user'])">
    <mat-expansion-panel-header>
      <a mat-list-item class="disable-overlay" (click)="toggleSidenav.emit()">
        <mat-icon aria-hidden="false" aria-label="User Settings">person</mat-icon>
        User Settings
      </a>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-action-list>
        <a mat-list-item (click)="toggleSidenav.emit()" routerLink="/user" routerLinkActive="active-link">
          <mat-icon aria-hidden="false" aria-label="Dashboard">manage_accounts</mat-icon>
          Dashboard
        </a>
        <a
          mat-list-item
          (click)="toggleSidenav.emit()"
          routerLink="/user/profile"
          routerLinkActive="active-link"
          *ngIf="currentUserService.isAllowedToUpdateProfile() | async"
        >
          <mat-icon aria-hidden="false" aria-label="Profile">account_box</mat-icon>
          Profile
        </a>
        <a
          mat-list-item
          (click)="toggleSidenav.emit()"
          routerLink="/user/avatar"
          routerLinkActive="active-link"
          *ngIf="currentUserService.isAllowedToUploadAvatar() | async"
        >
          <mat-icon aria-hidden="false" aria-label="Upload Avatar">account_circle</mat-icon>
          Upload Avatar
        </a>
        <a
          mat-list-item
          (click)="toggleSidenav.emit()"
          routerLink="/user/password"
          routerLinkActive="active-link"
          *ngIf="currentUserService.isAllowedToChangePassword() | async"
        >
          <mat-icon aria-hidden="false" aria-label="Change Password">password</mat-icon>
          Change Password
        </a>
        <a
          mat-list-item
          (click)="toggleSidenav.emit()"
          routerLink="/user/delete"
          routerLinkActive="active-link"
          *ngIf="currentUserService.isAllowedToDeleteAccount() | async"
        >
          <mat-icon aria-hidden="false" aria-label="Delete Account">delete_forever</mat-icon>
          Delete Account
        </a>
      </mat-action-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
