<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="password" placeholder="Current Password" formControlName="password" required />
        <mat-error>
          <chess-lite-form-error [control]="form.controls.password" name="password"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Current Password Again" formControlName="password2" required />
        <mat-error>
          <chess-lite-form-error [control]="form.controls.password2" name="password2"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="New Password" formControlName="newPassword" required />
        <mat-error>
          <chess-lite-form-error [control]="form.controls.newPassword" name="newPassword"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="New Password Again" formControlName="newPassword2" required />
        <mat-error>
          <chess-lite-form-error [control]="form.controls.newPassword2" name="newPassword2"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <div class="submit-message">
        <chess-lite-form-error [control]="form" name="password"></chess-lite-form-error>
        <chess-lite-form-error [control]="form" name="newPassword"></chess-lite-form-error>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        *ngLet="user$ | async as user"
        [disabled]="form.invalid || !user || !user.isAllowedTo(CHANGE_PASSWORD_REL)"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
