<form [formGroup]="form" novalidate>
  <mat-card
    [@wobble]="submitError"
    (@wobble.start)="submitError = false"
    [@tada]="submitSuccess"
    (@tada.start)="submitSuccess = false"
  >
    <mat-card-header>
      <mat-card-title>Upload Avatar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card>
        <mat-card-content>
          <img width="100%" alt="Upload Avatar" *ngIf="user$ | async as user" src="{{ user.profileImageUrl }}" />
        </mat-card-content>
      </mat-card>
      <div>
        <input
          #imageInput
          style="display: none"
          type="file"
          accept="image/*"
          formControlName="avatar"
          (change)="onSubmit($event)"
        />
        <chess-lite-form-error [control]="form" name="avatar"></chess-lite-form-error>
      </div>

      <div class="submit-message">
        <div class="mat-error" *ngIf="submitErrorMessage">Invalid File</div>
        <div class="mat-accent" *ngIf="submitSuccessMessage">File Uploaded Successfully</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-fab
        color="primary"
        aria-label="Upload Avatar"
        (click)="imageInput.click()"
        [disabled]="!this.userService.isAllowedToUploadAvatar(user)"
        *ngIf="user$ | async as user"
      >
        <mat-icon>file_upload</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
