<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Username</th>
      <td mat-cell *matCellDef="let row">{{ row.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Firstname</th>
      <td mat-cell *matCellDef="let row">{{ row.firstname }}</td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Lastname</th>
      <td mat-cell *matCellDef="let row">{{ row.lastname }}</td>
    </ng-container>

    <ng-container matColumnDef="lastLoginDateDisplay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">Last Login</th>
      <td mat-cell *matCellDef="let row">{{ row.lastLoginDateDisplay | date }}</td>
    </ng-container>

    <ng-container matColumnDef="joinDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">since</th>
      <td mat-cell *matCellDef="let row">{{ row.joinDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">role</th>
      <td mat-cell *matCellDef="let row">{{ row.role }}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">active</th>
      <td mat-cell *matCellDef="let row">{{ row.active }}</td>
    </ng-container>

    <ng-container matColumnDef="locked">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">locked</th>
      <td mat-cell *matCellDef="let row">{{ row.locked }}</td>
    </ng-container>

    <ng-container matColumnDef="expired">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">expired</th>
      <td mat-cell *matCellDef="let row">{{ row.expired }}</td>
    </ng-container>

    <ng-container matColumnDef="credentialsExpired">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col">credentialsExpired</th>
      <td mat-cell *matCellDef="let row">{{ row.credentialsExpired }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [pageIndex]="0"
    [length]="dataSource?.page?.totalElements"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
