<mat-action-list>
  <button mat-list-item disableRipple>Administration Menu</button>
  <button mat-list-item routerLink="/administration" routerLinkActive="active-link">Dashboard</button>
  <button mat-list-item routerLink="/administration/user-management" routerLinkActive="active-link">
    User Management
  </button>
  <button mat-list-item routerLink="/administration/global-settings" routerLinkActive="active-link">
    Global Settings
  </button>
  <button mat-list-item routerLink="/administration/service-logs" routerLinkActive="active-link">Service Logs</button>
</mat-action-list>
