<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Default Role</mat-label>
    <mat-select formControlName="defaultRoleId">
      <mat-option *ngFor="let role of roles | async" [value]="role.id">
        {{ role.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [disabled]="(globalSettingsService.canUpdateGlobalSettings() | async) === false"
  >
    Change Default Role
  </button>
</form>
