<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card
    class="mat-elevation-z24"
    [@wobble]="loginError === true"
    (@wobble.start)="loginError = false"
    [@bounceOut]="loginSuccess === true"
    (@bounceOut.done)="onLoginSuccess()">
    <mat-card-header>
      <mat-card-title>Enter your Credentials</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required />
        <mat-error>
          <app-form-error [control]="loginForm.controls.username" name="username"></app-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required />
        <mat-error>
          <app-form-error [control]="loginForm.controls.password" name="password"></app-form-error>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <a mat-raised-button [routerLink]="['/auth', 'token-request']">Recover Account</a>
      <button
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid || (authService.isAllowedToLogin() | async) === false">
        Log In
      </button>
    </mat-card-actions>
  </mat-card>
</form>
<div class="spacer"></div>
