<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required />
        <mat-error>
          <chess-lite-form-error [control]="form.controls.username" name="username"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" required />
        <mat-error>
          <chess-lite-form-error [control]="form.controls.email" name="email"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Firstname" formControlName="firstname" />
        <mat-error>
          <chess-lite-form-error [control]="form.controls.firstname" name="firstname"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Lastname" formControlName="lastname" />
        <mat-error>
          <chess-lite-form-error [control]="form.controls.lastname" name="lastname"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Profile Image" formControlName="profileImageUrl" />
        <mat-error>
          <chess-lite-form-error
            [control]="form.controls.profileImageUrl"
            name="profileImageUrl"
          ></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="active">Active</mat-checkbox>
      <mat-checkbox formControlName="locked">Locked</mat-checkbox>
      <mat-checkbox formControlName="expired">Expired</mat-checkbox>
      <mat-checkbox formControlName="credentialsExpired">Expired Credentials</mat-checkbox>
      <div class="submit-message">
        <div class="mat-error" *ngIf="submitErrorMessage">Invalid Data</div>
        <div class="mat-accent" *ngIf="submitSuccessMessage">Profile Saved</div>
      </div>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid || !user || !user.isAllowedTo('update')"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
