<h2 mat-dialog-title>Delete Account?</h2>
<mat-dialog-content>
  This action cannot be undone. This will permanently delete your account, and remove all data associations.
  <br />
  <br />
  Please type your username to confirm.
  <br />
  <br />
  <mat-form-field>
    <input matInput type="text" placeholder="Type your username" required #usernameInput />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="warn"
    *ngIf="userService.getCurrentUsername() | async as currentUsername"
    [disabled]="!currentUsername || !currentUsername.length || currentUsername !== usernameInput.value"
    [mat-dialog-close]="currentUsername"
  >
    Delete
  </button>
</mat-dialog-actions>
