<mat-card
  [@wobble]="loginError === true"
  (@wobble.start)="setError(false)"
  [@bounceOut]="loginSuccess === true"
  (@bounceOut.done)="onLoginSuccess()"
>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <h2>Log In</h2>
      <mat-error><span *ngIf="loginError"></span></mat-error>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required />
        <mat-error>
          <chess-lite-form-error [control]="loginForm.controls.username" name="username"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required />
        <mat-error>
          <chess-lite-form-error [control]="loginForm.controls.password" name="password"></chess-lite-form-error>
        </mat-error>
      </mat-form-field>
      <div class="mat-error">
        <div class *ngIf="loginError">Invalid username and password</div>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="submitLogin()"
        [disabled]="(loginService.canLogin() | async) === false || loginForm.invalid"
      >
        Log In
      </button>
    </form>
  </mat-card-content>
</mat-card>
<div class="spacer"></div>
