<mat-accordion class="sidenav-expansion">
  <mat-expansion-panel class="mat-elevation-z0" (opened)="router.navigate(['administration'])">
    <mat-expansion-panel-header>
      <a mat-list-item class="disable-overlay" (click)="toggleSidenav.emit()">
        <mat-icon aria-hidden="false" aria-label="Administration">admin_panel_settings</mat-icon>
        Administration
      </a>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-action-list>
        <a mat-list-item (click)="toggleSidenav.emit()" routerLink="/administration" routerLinkActive="active-link">
          <mat-icon aria-hidden="false" aria-label="Dashboard">space_dashboard</mat-icon>
          Dashboard
        </a>
        <a
          mat-list-item
          (click)="toggleSidenav.emit()"
          routerLink="/administration/user-management"
          routerLinkActive="active-link"
          *ngIf="administrationService.hasUserManagementLink() | async"
        >
          <mat-icon aria-hidden="false" aria-label="User Management">manage_accounts</mat-icon>
          User Management
        </a>
        <a
          mat-list-item
          (click)="toggleSidenav.emit()"
          routerLink="/administration/global-settings"
          routerLinkActive="active-link"
        >
          <mat-icon aria-hidden="false" aria-label="Global Settings">vpn_lock</mat-icon>
          Global Settings
        </a>
        <a
          mat-list-item
          (click)="toggleSidenav.emit()"
          routerLink="/administration/service-logs"
          routerLinkActive="active-link"
        >
          <mat-icon aria-hidden="false" aria-label="Service Logs">cabin</mat-icon>
          Service Logs
        </a>
      </mat-action-list>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
