:host {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;

  .header-title {
    margin-left: 8px;
    flex-grow: 1;
    font-size: 18px;
  }

  .tabs-container {
    flex-grow: 1;
  }
}
