<mat-action-list>
  <button mat-list-item disableRipple>User Settings</button>
  <button mat-list-item routerLink="/user" routerLinkActive="active-link">Dashboard</button>
  <button mat-list-item routerLink="/user/profile" routerLinkActive="active-link">Profile</button>
  <button mat-list-item routerLink="/user/avatar" routerLinkActive="active-link">Upload Avatar</button>
  <button mat-list-item routerLink="/user/password" routerLinkActive="active-link">Change Password</button>
  <button mat-list-item routerLink="/user/delete" routerLinkActive="active-link">Delete Account</button>
</mat-action-list>
