<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  aria-label="Example icon-button with a menu"
  *ngIf="this.translationService.activeLanguage | async as activeLanguage"
>
  <img alt="{{ activeLanguage.id }}" src="https://www.countryflags.io/{{ activeLanguage.iso3166 }}/shiny/24.png" />
</button>
<mat-menu #menu="matMenu" classList="locale-picker-menu">
  <ng-container *transloco="let t">
    <button
      mat-menu-item
      *ngFor="let language of translationService.availableLanguages"
      (click)="translationService.setActiveLanguage(language.id)"
    >
      <img alt="{{ language.id }}" src="https://www.countryflags.io/{{ language.iso3166 }}/shiny/24.png" />
      <span>{{ t('LOCALE.' + language.id) }}</span>
    </button>
  </ng-container>
</mat-menu>
